:root {
--color-primary: #434455;
--color-secondary: #2E2F42; 
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary);
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link{
    color: var(--color-secondary);
    text-decoration: none;
    }
    
.link:active :hover :focus {
        color: #404BBF;
    }
.list{
list-style: none;
}
address{
font-style: normal;
}
/* ===================MAIN-PAGE=================== */

/* ---------------------HEADER-------------------- */

.header-logo .link {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-span{
    color: var(--color-secondary);
    font-family: 'Raleway'; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.nav-link {
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link :hover :focus {
color: #404bbf
}


.adr-link {
    color: var(--color-primary)
}
.adr-link :hover :focus {
    color: #404BBF;
}

/* ---------------------MAIN-------------------- */
/* ................SECTION:SOLUTION..............*/
.solution-section{
background-color: var(--color-secondary);
}
.solution-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.solution-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.solution-btn:hover :focus {
    background-color: #404BBF;
    
}
/* ................SECTION:ABOUT..............*/

.about-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-secondary);
    letter-spacing: 0.02em;
}

.doing-title {
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

/* ................SECTION:TEAM..............*/
.team-section {
    background-color: #F4F4FD;
}
.team-title {
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-card {
    background-color: #FFFFFF;
}
.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-secondary);
}

/* ---------------------FOOTER-------------------- */
.footer {
    background-color: var(--color-secondary);
}
.footer-logo .link {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-span {
    color: #f4f4fd;
    font-family: 'Raleway'; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer-text {
    color: #F4F4FD;
}

/* ===================PORTFOLIO=================== */
/* ---------------------MAIN-------------------- */

.filter-btn {
    background-color:#F4F4FD;
    color: #4D5AE5;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.filter-btn:hover :focus{
    background-color:#404BBF;
    color: #FFFFFF;
}


.section-item {
    background-color: #E7E9FC;
}

.item-title {
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }
